$color--white: #fff;
$color--black: #000;
$color--links: #2bb1ff;
$color--border: #9C9C9C;

$breakpoint--mobile-max: 768px;
$breakpoint--desktop-min: $breakpoint--mobile-max + 1;

$font--serif: "Georgia", serif;
$font--sans: "Helvetica", sans-serif;
