.case-study-card {
  position: relative;
  width: 25rem;
  height: 20rem;
  max-width: 100%;
  border: 1px solid #bdbdbd;
  border-radius: 3px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  background-size: cover;
  background-position: center;

  &.case-study-card--top-center {
    background-position: top center;
  }
  &.case-study-card--top-left {
    background-position: top left;
  }
}

.case-study-card__label {
  position: absolute;
  background: white;
  color: $color--black !important;
  text-decoration: none;
  bottom: 1rem;
  left: -1rem;
  width: 20rem;
  font-family: $font--sans;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0.6rem 1.1rem;
  border: 1px solid #CDCDCD;
}

.case-study-card__button {
  margin-top: 0.5rem;
}
