<div class="case-study-card {{extra-classes}}" style="background-image: url({{img_src}})">
  <div class="case-study-card__label">
    {{{label}}}
    {{#if href}}
      <br>
      <a class="case-study-card__button button button--sm" href="{{href}}">View Project</a>
    {{/if}}
  </div>
</div>
